* {
  box-sizing: border-box;
}

body {
  font: 14px Arial, sans-serif;
}

a {
  text-decoration: none;
}

.bouton a {
  color: #fff;
  text-decoration: none;  
}

.button a {
  color: #fff!important;
  text-decoration: none;  
}

ul {
  list-style-type: none;
  margin: 0px!important;
  padding: 0px!important;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
 }

li {
  list-style-type: none;
  margin: 0px!important;
  padding: 0px!important;
 }
/********** INDEX **********/

header {
  text-align: center;
  z-index: 10;
}

.logo-index {
  width: 27%;
  display: inline-block;
  z-index: 8;
}

.boutons {
  margin: auto;
  width: 30%;
  display: flex;
  align-items: center;
}

.welcome {
  text-align: center;
  padding: 30px;
  margin: auto;
  width: 55%;
  font-size: 16px;
  padding-top: 40px;
}

.bouton {
  background-color: #00B7FF;
  padding: 15px;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  width: 84%;
  margin: 5px;
  text-align: center;
  color: white;
  font-size: 15px;
  font-family: arial;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.highlight {
  color: #f19d31;
  font-weight: bold;
}

/********** SIGN UP **********/

/********** LOG IN **********/

.center-page {
  position: absolute;
	top: 40%;
	bottom: 0;
	left: 0;
	right: 0;
  margin: auto;
  padding: 20px;
}

.field {
  display: flex;
}

.field-name {
  margin-right: 8px;
  margin-bottom: 8px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.field-name span {
  background-color: #f19d31;
  color: white;
  padding: 8px;
  border-radius: 0 40px 40px 0;
  -moz-border-radius: 0 40px 40px 0;
  -webkit-border-radius: 0 40px 40px 0;
  display: block;
  margin-left: 8px;
}

.field-input {
  background: #fff;
  border: 1px solid darkgrey;
  padding: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  flex: 1;
}

.form-check-input {
  flex: 1;
}

/* .flex {
  display: flex;
}
.inside {
  border: 1px solid #000;
}
.inside-right {
  flex: 1;
  background:#c0ffee;
} */


/* .field-content input {
  background: #fff;
  border: 1px solid darkgrey;
} */

textarea {
  background: #fff!important;
  border: 1px solid darkgrey!important;
  border-color: darkgrey!important;
  font-family: Arial!important;
  border-width: 1px!important;
  border-style: solid!important;
  width: 100%;
  height: 300px;
}

.center-form {
  display: block;
  text-align: center;
}

.button {
  background-color: #00B7FF;
  padding: 6px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border: 0;
  margin: 5px;
  text-align: center;
  color: white;
  font-size: 15px!important;
  font-family: arial;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.under-submit {
  font-size: 13px;
  padding: 4px;
  text-align: center;
}

/********** PROFILE **********/


.img-profile-pic {
  width: 100%;
  height: 100px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
}

.grey-button {
  background: grey!important;
}

/********** ARTICLE **********/ 

/********** ALL ARTICLES **********/


.all-articles {
  margin-top: 20px;
  width: 100%;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .all-articles ul li {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 3px;
      font-size: 15px;
      margin-left: 0px!important;
      padding-left: 0px!important;
    }
}

.all-articles ul li {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3px;
  font-size: 15px;
  margin-left: 0px!important;
  padding-left: 0px!important;
  margin-right: 0px!important;
  padding-right: 0px!important;
  flex-direction: column;
  flex-wrap: wrap;
}

.sep-articles {
  width: 100%;
  height: 1px;
  background: #000;
}

.articles-top {
  background: #000;
  width: 100%;
  border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  height: 4px;
  margin-top: 3px;
  margin-left: 0px!important;
  padding-left: 0px!important;
  margin-right: 0px!important;
  padding-right: 0px!important;
}

.articles-bottom {
  background: #000;
  width: 100%;
  border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -webkit-border-radius: 0 0 20px 20px;
  height: 3px;
  margin-top: 3px;
  margin-left: 0px!important;
  padding-left: 0px!important;
  margin-right: 0px!important;
  padding-right: 0px!important;
}

.title {
  /* background-color: #eeeeee; */
  padding: 8px;
  font-weight: bold;
  background-color: #f19d31;
  /* width: 40%; */
}

.title a {
  color: #000!important;
}

.author {
  /* background-color: #f19d31; */
  background-color: #eeeeee;
  padding: 8px;
  font-weight: bold;
  /* width: 12%; */
  text-align: center;
}

.date {
  background-color: #eeeeee;
  padding: 8px;
  /* width: 20%; */
  text-align: center;
}

.action {
  background-color: #f19d31;
  padding: 8px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  /* width: 8%; */
}

/********** LAYOUT **********/
.nav-bar {
  display: flex;
  align-items: center;
}

.nav-left {
  width: 15%;
  display: flex;
  align-items: center;
}

.nav-middle {
  display: inline;
  text-align: center;
  width: 100%;
}

.nav-right {
  width: 15%;
  display: flex;
  justify-content: flex-end;
}

h1 {
  font-size: 4.5vh;
  margin: 0 auto;
  line-height: 4vh;
  text-align: center;
}

h3 {
  font-size: 2.5vh;
  margin: 0;
  line-height: 3vh;
  font-weight: normal;
}

.links-nav {
  margin: 0;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

.list-of-articles {
  margin-top: 20px;
}

.links-nav a {
  color: #00B7FF!important
}

.under-submit a {
  color: #00B7FF!important
}

.regular-article {
  padding: 5px;
  padding-top: 11px;
}

/********** ERRORS **********/ 

.error-message {
  background: #fac3c8;
  color: rgb(88, 8, 22);
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  padding: 8px;
  width: 60%;
  margin-top: 8px;
}