* {
  box-sizing: border-box;
}

body {
  font: 14px Arial, sans-serif;
}

a {
  text-decoration: none;
}

.bouton a {
  color: #fff;
  text-decoration: none;  
}

button a {
  color: #fff;
  text-decoration: none;  
}

ul {
  list-style-type: none;
  margin: 0px!important;
  padding: 0px!important
 }

li {
  list-style-type: none;
  margin: 0px!important;
  padding: 0px!important
 }
/********** INDEX **********/

header {
  text-align: center;
  z-index: 10;
}

.logo-index {
  width: 27%;
  display: inline-block;
  z-index: 8;
}

.boutons {
  margin: auto;
  width: 30%;
  display: flex;
  align-items: center;
}

.welcome {
  text-align: center;
  padding: 30px;
  margin: auto;
  width: 55%;
  font-size: 16px;
  padding-top: 40px;
}

.bouton {
  background-color: #00B7FF;
  padding: 15px;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  width: 84%;
  margin: 5px;
  text-align: center;
  color: white;
  font-size: 15px;
  font-family: arial;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.highlight {
  color: #f19d31;
  font-weight: bold;
}

/********** SIGN UP **********/

/********** LOG IN **********/

.center-page {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.field {
  display: flex;
}

.field-name {
  margin-right: 8px;
  margin-bottom: 8px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.field-name span {
  background-color: #f19d31;
  color: white;
  padding: 8px;
  border-radius: 0 40px 40px 0;
  -moz-border-radius: 0 40px 40px 0;
  -webkit-border-radius: 0 40px 40px 0;
  display: block;
}

.field-input {
  background: #fff;
  border: 1px solid darkgrey;
  padding: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  flex: 1;
}

/* .flex {
  display: flex;
}
.inside {
  border: 1px solid #000;
}
.inside-right {
  flex: 1;
  background:#c0ffee;
} */


/* .field-content input {
  background: #fff;
  border: 1px solid darkgrey;
} */

textarea {
  background: #fff;
  border: 1px solid darkgrey;
  width: 100%;
  height: 300px;
}

.center-form {
  display: inline-block;
  text-align: center;
}

.button {
  background-color: #00B7FF;
  padding: 6px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border: 0;
  margin: 5px;
  text-align: center;
  color: white;
  font-size: 15px!important;
  font-family: arial;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.under-submit {
  margin-top: -2px;
  font-size: 13px;
}

/********** PROFILE **********/


.img-profile-pic {
  width: 100%;
  height: 100px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
}

.grey-button {
  background: grey!important;
}

/********** ARTICLE **********/ 

/********** ALL ARTICLES **********/


.all-articles {
  margin-top: 110px;
  width: 100%;
}

.all-articles ul li {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3px;
  font-size: 15px;
  margin-left: 0px!important;
  padding-left: 0px!important;
}

.title-top {
  background-color: #f19d31;
  padding: 8px;
  border-radius: 20px 0 0 0;
  -moz-border-radius: 20px 0 0 0;
  -webkit-border-radius: 20px 0 0 0;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 33.3%;
  text-align: center;
}

.title-top a {
  color: white;
}

.author-top {
  background-color: #f19d31;
  padding: 8px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 10%;
  text-align: center;
}

.date-top {
  background-color: #f19d31;
  padding: 8px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 20%;
  text-align: center;
}

.action-top {
  background-color: #f19d31;
  padding: 8px;
  border-radius: 0 20px 0 0;
  -moz-border-radius: 0 20px 0 0;
  -webkit-border-radius: 0 20px 0 0;
  color: #f19d31;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.title {
  background-color: #eeeeee;
  padding: 8px;
  font-weight: bold;
  width: 33.3%;
}

.author {
  background-color: #eeeeee;
  padding: 8px;
  font-weight: bold;
  width: 10%;
  text-align: center;
}

.date {
  background-color: #eeeeee;
  padding: 8px;
  width: 19.5%;
  text-align: center;
}

.action {
  background-color: #eeeeee;
  padding: 8px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}

/********** LAYOUT **********/
.nav-bar {
  display: flex;
  align-items: center;
}

.nav-left {
  width: 15%;
  display: flex;
  align-items: center;
}

.nav-middle {
  display: inline;
  text-align: center;
  width: 70%;
}

.nav-right {
  width: 15%;
  display: flex;
  justify-content: flex-end;
}

h1 {
  font-size: 8vh;
  margin: 0;
  line-height: 8vh;
}

h3 {
  font-size: 2.5vh;
  margin: 0;
  line-height: 3vh;
  font-weight: normal;
}

.links-nav {
  margin: 0;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

.list-of-articles a {
  color: #fff!important
}

.links-nav a {
  color: #00B7FF!important
}

.title a {
  color: #00B7FF!important
}

.under-submit a {
  color: #00B7FF!important
}

.regular-article {
  padding: 40px;
}

/********** ERROR PAGE **********/ 