* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0px!important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #643df0!important;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

/* HEADER / NAVBAR */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 39%;
}

.navbar-logo {
  width: 27%;
}

.navbar-text {
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 1px;
}

/* NAVBAR > MENU */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 22;
  left: 0;
  top: 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.95);
  overflow: hidden;
  transition: 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-middle {
  flex: none;
  max-width: 50%;
}

.overlay-content {
  position: relative;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 19px!important;
  text-transform: lowercase;
  letter-spacing: -1px;
  font-weight: 600;
}

.menu-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px;
  padding-right: 27px;
  width: 15.8%;
}

.menu-link-1 a {
  color: #6331f4;
  padding: 8px;
}

.menu-link-2 a {
  color: #40b1d6!important;
  padding: 8px;
}

.menu-link-3 a {
  color: #000!important;
  padding: 8px;
}

/* LAYOUT */

.navbar-on-top {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 9px;
  z-index: 20;
  background: rgba(255, 255, 255, 0.95);
}

.content-site {
  padding-top: 18%;
  padding-bottom: 5%;
  width: 100%;
}

/* FOOTER */

.copyright {
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
}


.socials {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
  width: 100%;
}

.socials a {
  margin: 2px;
  width: 4%;
}

.socials img {
  width: 100%;
}

/* PUBLISHED ARTICLE */

.article-featured-pic {
  width: 100%;
  z-index: 17;
}

.article-top {
  margin-top: 20px;
}

.article-featured-caption {
  width: 100%;
  padding-bottom: 4px;
  background: #000;
}

.article-featured-caption div {
  font-size: 11px!important;
  color: #fff;
  padding-left: 4px;
  padding-right: 4px;
  text-align: justify;
  letter-spacing: -0.2px;
}

.article-featured-caption div span {
  text-transform: uppercase;
  font-size: 9px!important;
  display: inline;
  text-align: left;
  font-weight: 400;
  letter-spacing: -0.2px;
}

h1 {
  font-size: 20px!important;
  letter-spacing: -1px;
  color: #6331f4;
  font-weight: 600;
  background: #fff;
  background: rgba(255, 255, 255, 0.98);
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  text-align: center;
}

.article-top span {
  text-transform: uppercase;
  font-size: 9px!important;
  display: block;
  text-align: center;
  letter-spacing: 1px;
}

.article-cat {
  text-transform: uppercase;
  font-size: 9px!important;
  letter-spacing: 1px;
  color: #40b1d6;
  font-weight: bolder;
  letter-spacing: 1px;
  display: block;
  padding-bottom: 4px;
}

.article-lead {
  font-size: 14px!important;
  font-weight: bold;
  padding: 11px;
  text-align: center;
}

.article-body {
  padding: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: justify;
  font-size: 15px;
  line-height: 22px;
  font-family: Georgia;
  color: #282828;
}

.article-author {
  text-transform: uppercase;
  font-size: 12px!important;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  margin-bottom: 10px;
}

.article-author div {
  text-align: center;
  margin-left:auto; 
  margin-right:0;
}

.article-tags {
  text-transform: uppercase;
  font-size: 9px!important;
  letter-spacing: 1px;
}

/* internal styling of content article */

.inner-subtitle-1 {
    font-family: arial;
    font-size: 14px;
}